@media (max-width:450px) {

    .title-h1 {
        font-size: 25px;
    }

    .poster-header {
        background-image: url(../assets/img/barber_mobile-header.png);
        width: 100%;
        height: 640px;
    }

    .navbar-page{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: fixed;
        
    }

    .navbar-menu li{
        
        font-size: 20px;
        display:inline-block;  
        
    }

    #img-about {
        width: 70px;
        height:70px;
        margin-left: 1%;
        /* opacity: .7; */
    }

    #div-text-about{

   
        margin-left: 0%;
        width: 80px;
        color: white;
        text-align: center;
        border-color: white;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
    
    #text-about {
        font-size: 20px;
        padding: 3rem;
    }

    .container-about {
        margin-left:1%;
    }
    
    #div-text-about button {
        width: 200px;
        height: 40px;
        border-radius: 15px;
        background-color: #fecc00;
        color: black;
        font-size: 20px;
    }


    .boxs-cards {
        
        display: inline-block;
        background-color: rgb(0, 0, 0);
        width: 250px;
        height: 150px;
        border-radius: 15px;
        margin-top: 2rem;
        overflow: hidden;
    }

    iframe {
        width: 100px;
        height: 150px;
    }
}

@media (max-width:900px){
    iframe {
        width: 450px;
        height: 300px;
    }
}

@media (max-width:500px){
    #div-text-about {
        margin-left: 25%;
        width: 400px;
    }

    #img-about {
        margin-left: 25%;
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 1120px) {
    .conteudo-about{
        display: inline-block;
    }

    .container-about {
        display: block;
        text-align: center;
    }
}